@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 12);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    width: 90%;
    height: 38rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 26px black;
}


.logos {
    color: white;
}

.form {
    width: 35%;
    height: 100%;
}

h2 {
    margin: 10%;
}

form {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin: 10%;
    
}

label {
    color: rgb(201, 196, 196);
}

input,
textarea {
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 25%;
    color: rgb(5, 0, 0);
    font-size: 18px;
}

textarea {
    height: 8rem;
    padding: 3% 0 0 5%;
    border-radius: 25px;
}

textarea::placeholder {
    color: rgba(52, 11, 11, 0.91);
    font-size: 12px;
}

button {
    width: 10rem;
    margin: 5%;
    height: 2rem;
    border-radius: 10px;
    background-color: yellow;
    border: none;
}


.box {
    width: 50%;
    height: 90%;
    background: url("./assets/woman.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60%
        30% 50%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 60%;
    }
}



@media screen and (max-width: 414px) {

    body {
        align-content: flex-end;
    }

    .form {
        padding: 1%;
    }

    h2 {
        margin-top: 20%;
        font-size: 1.5rem;
        width: 100%;
    }

    label {
        font-size: 14px;
    }

    input,
    textarea {
        width: 18rem;
    }

    .box {
        background: none;
        animation: none;
    }

}

@media screen and (max-width: 375px) {
    input,
    textarea {
        width: 16rem;
    }

    .box {
        background: none;
        animation: none;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        height: inherit;
    }

    h2 {
        font-size: 17px;
    }

    label {
        font-size: 10px;
    }

    input,
    textarea {
        width: 14rem;
    }

    .box {
        background: none;
        animation: none;
    }
}
